footer {
    padding: 5%;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--background-footer);
}

.blocoFooter {
    margin: 2%;
    width: 15rem;
    height: auto;
    color: #f1f1f1;
}

h2 {
    font-size: 1.2rem;
    font-weight: 800;

    color: #f1f1f1;

}

footer p {
    margin-top: 10%;
    color: #f1f1f1;
    font-size: 1rem;
    line-height: 1.5;
}

h3 {
    color: #f1f1f1;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2;
    margin-top: 10%;
    width: 100%;
    height: auto;
}

h4 {
    color: #f1f1f1;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

ul {
    color: #f1f1f1;
    margin-top: 10%;
    list-style: none;
}

a {
    color:var(--text-menu);

    transition: color, .3s ease-in-out;

    text-decoration: none;
}

a:hover {
    color: var(--icon)
}

li {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.blocoIcones {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer .blocoFooter .blocoIcones .icon {
  margin: 2%;
  margin-top: 10%;

  width: 40px;
  height: 40px;

  background-color: var(--icon);

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

}

footer .blocoFooter .blocoIcones .icon .bi {
  color: var(--icon-background);

  display: flex;
  align-items: center;
  justify-content: center;

}

hr {
  width: 100%;

  border-top: 1px solid var(--color-hr);
  border-bottom: 0px solid var(--color-hr);
  border-right: 0px solid var(--color-hr);
  border-left: 0px solid var(--color-hr);
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;

    text-align: center;

    color: #f1f1f1;

    background-color: #1f201c;

    border-top: 1px solid var(--texte-gray);

}
