<footer>
    <div class="blocoFooter">
        <h2>S.O.S HUMANIDADE</h2>
        <p>Ajudando o Planeta a Florescer e você pode fazer parte desse processo de auxiliar o desenvolvimento do planeta.
        </p>
    </div>
    <div class="blocoFooter">
        <h2>Contatos</h2>
        <h3> Cidade Verde, São Paulo – 205 Brasil</h3>
        <h4>(11) 93228-8593</h4>
        <h4>info@example.com</h4>
    </div>
    <div class="blocoFooter">
        <h2>Serviços</h2>
        <ul>
            <li> <a href="">Home</a></li>
            <li> <a href="">Sobre</a></li>
            <li> <a href="">Serviços</a></li>
            <li> <a href="">Produtos</a></li>
            <li> <a href="">Contato</a></li>
            <li> <a href="">Sociais</a></li>
        </ul>
    </div>
    <div class="blocoFooter">
        <h2 class="mb-5">Sociais</h2>
        <p class="mt-1">Para ficarem por dentro das novidades e novos projetos nos sigam nas redes sociais :</p>
        <div class="blocoIcones">
            <div class="icon">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </div>
            <div class="icon">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
            <div class="icon">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</footer>

<div class="copy">
    <p class="pt-2">Copyright © 2021 by <strong>S.O.S HUMANIDADE</strong></p>
</div>
