<body>
    <div class="container-fluid p-0 imgFoto">
        <div class="img">
            <img id='foto1' src=" ../../assets/img/TopoSobreNos.jpg">
        </div>

        <div class="jumbotron jumbotron-fluid ">
            <div class="container">
                <div class="d-flex justify-content-center mt-2">
                    <h2>Nossa Empresa</h2>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <p class=" pb-2">A S.O.S HUMANIDADE tem como finalidade em apoiar ONGs com o foco em reflorestamento e auxílio a pessoas que dependem da natureza para se manterem, apoiando ações sociais que visam a manutenibilidade da vida e a criação de oportunidades
                        iguais a todos, garantindo qualidade de vida para todos. </p>
                </div>
                <div>
                    <p>Nós da S.O.S HUMANIDADE, enxergamos uma grande oportunidade de estar contribuindo com essa causa, desenvolvendo nosso próprio sistema E-commerce com a ideia de apoiar diretamente ONGs que atuam nessas frentes, os auxiliando diretamente,
                        fortalecendo essas organizações e semeando pelo mundo nossa visão de mundo, construindo uma comunidade unida com um propósito em comum. Garantir a sustentabilidade e a vida na terra, trabalhando em conjunto com a natureza.</p>
                </div>
                <div class="container">
                    <img class="fotoMeio" src="../../assets/img/FotoMeiojpg.jpg" alt="Foto meio">
                </div>
                <div class="row ">
                    <div class="col-md-6 d-flex justify-content-center pt-5 text-center align-items-center">
                        <p>Devido ao grande aumento no desmatamento desenfreado, a falta de consciência e um governo arbitrário, colaborou para o que estamos vendo hoje. Matas inteiras sendo completamente devastadas, para serem substituídas por pastos, agropecuária,
                            madeireiras, etc. Dessa forma vimos como objetivo ir de encontro a esses problemas, buscando soluções para tentar freá-las. Com embasamento na décima terceira ODS (Objetivos de Desenvolvimento Sustentável) da ONU (Organização
                            das Nações Unidas) as ações contra a mudança climática, que visa criar soluções para combater o aquecimento global e em consequência as mudanças climáticas e degradação de regiões.
                        </p>
                    </div>
                    <div class="col-md-6 p-3 text-center d-flex justify-content-center align-items-center">
                        <p>Pensando nisso, a S.O.S HUMANIDADE, tem como plano de ação, auxiliar ONGs que atuam diretamente nessas frentes, os apoiando diretamente, com o auxílio monetário por meio da obtenção de renda de parceiros que queiram nos apoiar
                            diretamente nessa causa e pela venda de produtos em nosso E-commerce. Dessa forma gerando receita tanto para o combate ao desmatamento, mas também o auxílio a pessoas ribeirinhas, que não tem condições financeiras de se manterem
                            devido a degradação das áreas onde moram por conta do desmatamento e mudanças climáticas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <h2>Nossa Equipe</h2>
        </div>
        <div>
            <p class="text-center pt-2">Textinho da Panda chegando em breve ++</p>
        </div>
        <div class="display-inline d-flex justify-content-center">

            <img class="img-fluid rounded-circle fotoGrupo pl-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR87FUkG7bv4VQYF-rN0S2kPMO8DCWmN4uqfA&usqp=CAU" alt="Foto Daniel">
            <img class="img-fluid rounded-circle fotoGrupo pl-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2OZG0lfg7KFC8efkgarDToNxzZTiOX4Iykg&usqp=CAU" alt="Foto Gustavo">
            <img class="img-fluid rounded-circle fotoGrupo pl-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ8qyjvg8OC5SS-yQ06jO36o9ScsQ6FhzZdA&usqp=CAU" alt="Foto Julia">
            <img class="img-fluid rounded-circle fotoGrupo pl-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQElODNwVSSQr7eLrJxr4DdW0Ng5tIy0YhLLA&usqp=CAU" alt="Foto Kevin">
            <img class="img-fluid rounded-circle fotoGrupo pl-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfh9I1VExKkGT6G5ZoX7FcbR-XNF2H7LrAtQ&usqp=CAU" alt="Foto Larissa">
            <img class="img-fluid rounded-circle fotoGrupo pl-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbN5KUDclw3fBS5Wjme81un91jdrrRkK0OZQ&usqp=CAU" alt="Foto Lucas">
            <img class="img-fluid rounded-circle fotoGrupo pl-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYko-kUyWgM1sqIhsE8OTq3tDS9voLWrCrCg&usqp=CAU" alt="Foto Victor">
        </div>
        <div class="display-inline d-flex justify-content-center">
            <p class="pr-5">Daniel</p>
            <p class="pr-5">Gustavo</p>
            <p class="pr-5">Julia</p>
            <p class="pr-5">Kevin</p>
            <p class="pr-5">Larissa</p>
            <p class="pr-5">Lucas</p>
            <p class="pr-5">Victor</p>

        </div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center font-weight-bold">Interressado em ajudar ? </h1>
                <p class="lead text-center pt-2">Nos ajude a apoiar as organizações parceiras.</p>
                <p class="lead text-center ">Compre um dos produtos:</p>
            </div>
        </div>
    </div>
</body>
