<div class="container-fluid p-0 imgFoto">
    <div class="img">
        <img id='foto1' src="https://i.imgur.com/wWIaxBT.png">
    </div>

    <div class="jumbotron jumbotron-fluid ">
        <div class="texto container">
            <div class="d-flex justify-content-left ml-5 mt-2">
                <h2>Nossa visão</h2>

            </div>
                    <div class="d-flex justify-content-end">
                      <p class="d-flex justify-content-end col-8">
                    Nós enxergamos uma grande oportunidade de estar contribuindo com essa causa, desenvolvendo nosso
                    próprio sistema E-commerce com a ideia de apoiar diretamente ONGs que atuam nessas frentes, os
                    auxiliando diretamente,
                    fortalecendo essas organizações e semeando pelo mundo nossa visão de mundo, construindo uma
                    comunidade unida com um propósito em comum. Garantir a sustentabilidade e a vida na terra,
                    trabalhando em conjunto com a natureza.
                </p>
            </div>

            <div class="d-flex justify-content-end">
                <p class="d-flex justify-content-end col-8">
                    Devido ao grande aumento no desmatamento desenfreado, a falta de consciência e um governo
                    arbitrário, colaborou para o que estamos vendo hoje. Matas inteiras sendo completamente
                    devastadas, para serem substituídas por pastos, agropecuária,
                    madeireiras, etc. Dessa forma vimos como objetivo ir de encontro a esses problemas, buscando
                    soluções para tentar freá-las. Com embasamento na décima terceira ODS (Objetivos de
                    Desenvolvimento Sustentável) da ONU (Organização
                </p>
            </div>

            <div class="d-flex justify-content-end">
                <p class="d-flex justify-content-end col-8">
                    das Nações Unidas) as ações contra a mudança climática, que visa criar soluções para combater o
                    aquecimento global e em consequência as mudanças climáticas e degradação de regiões.
                    Pensando nisso, a S.O.S HUMANIDADE, tem como plano de ação, auxiliar ONGs que atuam diretamente
                    nessas frentes, os apoiando diretamente, com o auxílio monetário por meio da obtenção de renda
                    de parceiros que queiram nos apoiar
                    diretamente nessa causa e pela venda de produtos em nosso E-commerce.
                </p>
            </div>

            <div class="d-flex justify-content-end">
                <p class="d-flex justify-content-end col-8">
                    Dessa forma gerando
                    receita tanto para o combate ao desmatamento, mas também o auxílio a pessoas ribeirinhas, que
                    não tem condições financeiras de se manterem
                    devido a degradação das áreas onde moram por conta do desmatamento e mudanças climáticas.
                </p>
            </div>


            <div class="d-flex justify-content-center mt-5">
                <h2>Nossa Equipe!</h2>
            </div>
            <div>
                <p class="text-center pt-2">COLABORADORES DA S.O.S HUMANIDADE.</p>
            </div>


                <div class="container-fluid">
                    <div class="d-flex flex-wrap">
            
                        <div class="card pl-4 ml-3" style="width: 15rem;">
                            <img class="card-img-top w-100 pr-4" src="https://i.imgur.com/JMwhC2S.jpg" alt="Img Daniel">
                            <div class="card-body">
                                <h5 class="card-title">Daniel</h5>
                            </div>
                        </div>



                        <div class="card pl-4 ml-3" style="width: 15rem;">
                            <img class="card-img-top w-100 pr-4" src="https://i.imgur.com/p4X1kp8.jpg?3" alt="Img Gustavo">
                            <div class="card-body">
                                <h5 class="card-title">Gustavo</h5>
                            </div>
                        </div>

                        <div class="card pl-4 ml-3" style="width: 15rem;">
                            <img class="card-img-top w-100 pr-4" src="https://i.imgur.com/HySVqoA.jpg" alt="Img Julia">
                            <div class="card-body">
                                <h5 class="card-title">Julia</h5>
                            </div>
                        </div>

                        <div class="card pl-4 ml-3" style="width: 15rem;">
                            <img class="card-img-top w-100 pr-4" src="https://i.imgur.com/fByPjDB.jpg" alt="Img Kevin">
                            <div class="card-body">
                                <h5 class="card-title">Kevin</h5>
                            </div>
                        </div>

                        <div class="cartoes card pl-4 mt-3 ml-5" style="width: 15rem;">
                            <img class="card-img-top w-100 pr-4" src="https://i.imgur.com/elR7R3a.jpg" alt="Img Larissa">
                            <div class="card-body">
                                <h5 class="card-title">Larissa</h5>
                            </div>
                        </div>

                        <div class="cartoes card pl-4 mt-3 ml-5" style="width: 15rem;">
                            <img class="card-img-top w-100 pr-4" src="https://i.imgur.com/ofNZAAT.png?2" alt="Img Lucas">
                            <div class="card-body">
                                <h5 class="card-title">Lucas</h5>
                            </div>
                        </div>

                        <div class="cartoes card pl-4 mt-3 ml-5" style="width: 15rem;">
                            <img class="card-img-top w-100 pr-4" src="https://i.imgur.com/cp7RD7s.jpg" alt="Img Victor">
                            <div class="card-body">
                                <h5 class="card-title">Victor</h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4 text-center font-weight-bold">Interressado em ajudar ? </h1>
                    <p class="lead text-center pt-2">Nos ajude a apoiar as organizações parceiras.</p>
                    <p class="lead text-center ">Compre um dos produtos:</p>
                </div>
            </div>
        </div>
