#foto1 {
    width: 100%;
    height: 300px;
    border-radius: 2px;
}

.pt {
    position: relative;
    display: inline-block;
}

.fotoMeio {
    width: 100%;
    height: 400px;
    border-radius: 15px;
}

.fotoGrupo {
   border-radius: 50%;
}
.wh{
    width: 100px;
    height: 100px;
}