<nav class="navbar navbar-expand-lg navbar-light menu-bg">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="conteudoNavbarSuportado">
        <div>
            <img src="../../assets/img/logo.png" width="60px" height="80px" alt="">
        </div>
        <ul class="navbar-nav mr-auto">

            <li class="nav-item  active">
                <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sobre nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Produtos</a>
            </li>



        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
    </div>
</nav>
<!--/NAVEBAR-->
<div class="container-fluid d-flex p-0 m-0">


    <video autoplay class="bg_video position-absolute" width="100%" height="100%" loop>
        <source src="../../assets/video/s-o-s-humanidade.mp4">
    </video>
    <div class="pelicula">

    <!-- -->
    <div class="container-fluid">
        <div id="carouselExampleSlidesOnly" class="carousel slide"
            style="width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center;"
            data-ride="carousel">

            <div id="carouselExampleSlidesOnly" class="carousel slide"
                style="width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center;"
                data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-block container">
                            <h1 class="carrocel d-block w-100"> SOS-HUMANIDADE11111</h1>
                            <h3 class=" carrocel d-block w-100"> SOS-HUMANIDADE</h3>
                            <p class="carrocel"> jdnfsjdfdskff gsgfnsjngkdsf gfg gd dGdsgdsgg!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block container">
                            <p class="carrocel"> Teste 2 </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block container ">
                            <p class="carrocel"> Teste 3 </p>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="carousel-inner" style="display: flex; align-items: center; justify-content: center;">
                <div class="carousel-item active">
                    <h1 class="d-block w-100"> SOS-HUMANIDADE11111</h1>
                    <h3 class="d-block w-100"> SOS-HUMANIDADE</h3>
                    <p> jdnfsjdfdskff gsgfnsjngkdsf gfg gd dGdsgdsgg!</p>
                </div>
                <div class="carousel-item">
                    <h1 class="d-block w-100"> SOS2222222</h1>
                    <h3 class="d-block w-100"> SOS</h3>
                    <p> jdnfsjdfdskff gsgfnsjngkdsf gfg gd dGdsgdsgg!</p>
                </div>
                <div class="carousel-item">
                    <h1 class="d-block w-100"> SOS-33333333</h1>
                    <h3 class="d-block w-100"> SOS-saasfafaffd</h3>
                    <p> jdnfsjdfdskff gsgfnsjngkdsf gfg gd dGdsgdsgg!</p>
                </div>
            </div>-->
        </div>
    </div>
</div>
</div>

<div class="container-fluid">
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel nisi debitis consequatur ipsa facilis alias
        blanditiis repellat praesentium deleniti, a illum totam voluptatum, sit molestias suscipit amet magni nostrum
        nesciunt.</h1>
</div>