<div class="container-produtos">
    <div class="banner">
      <div class="overlay">
        <h2>Nos ajude nessa jornada. Contribua!</h2>
        <button class="botao" data-toggle="modal" data-target="#novaPostagem">Novo Produto</button>
      </div>
    </div>
    <div class="produtos">
        <div class="bloco" *ngFor='let item of listaDeProdutos'>
            <a [routerLink]="['/comprar-item', item.id]" class="img">
                <!-- VERIFICAR PQ A IMAGEM NAO ESTA SENDO INFORMADA NA TELA -->
                <img src="{{item.imagem}}" alt="">
            </a>
            <div class="dados">
                <h5>{{item.categoria.nome}}</h5>
                <h2>{{item.nome}}</h2>
                <h4>{{item.descricao}}</h4>
                <p>R$ {{item.preco}}</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade texto" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title texto-bold" id="exampleModalLongTitle">Novo Produto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <div class="form-group texto">
              <label for="nome">Nome</label>
              <input [(ngModel)]='produto.nome' type="text" class="form-control texto-input" id="nome" placeholder="Nome">
          </div>
          <div class="form-group texto">
              <label for="descricao">Descricao</label>
              <textarea [(ngModel)]='produto.descricao' name="descricao" class="form-control texto-input" id="descricao" rows="3" placeholder="Digite seu texto aqui..."></textarea>
          </div>
          <div class="form-group texto">
            <label for="preco">Preco</label>
            <input [(ngModel)]='produto.preco' type="number" class="form-control texto-input" id="preco" placeholder="Preco">
          </div>
          <div class="form-group texto">
            <label for="imagem">Imagem</label>
            <input [(ngModel)]='produto.imagem' type="text" class="form-control texto-input" id="imagem" placeholder="Imagem">
          </div>
          <div class="form-group texto">
            <label for="ativo">Status</label>
            <input [(ngModel)]='produto.ativo' type="text" class="form-control texto-input" id="ativo" placeholder="Status">
          </div>
          <div class="form-group texto">
              <!-- O ATRIBUTO data-dismiss="modal", FAZ COM QUE O ITEM INFORMADO SEJA FINALIZADO POR COMPLETO -->
              <label class="texto-gray" for="texto">Escolha uma categoria ou <a class="texto-link" routerLink='/categoria' data-dismiss="modal">cadastre um novo</a>: </label>
              <!-- POR MEIO DA ESCOLHA DO USUARIO E PELO METODO (CHANGE) E CAPITURADO O ID DA OPCAO ESCOLHIDA PELO USUARIO -->
              <select [(ngModel)]='idCategoria' class="form-control texto-input" name="tema" id="tema" (change)='findAllByCategoria()' >
                  <!-- CRIA UM LOOP FOR PARA MOSTRAR TODAS AS OPCOES CONTIDAS DENTRO DA BADE DE DADOS DE TEMA -->
                  <!-- TRAZ O VALOR DO ID DE CADA TEMA E DEIXA-O ARMAZENDO DENTRO DO VALUE="id" -->
                  <option *ngFor='let item of listaDeCategoria' value="{{item.id}}">{{item.nome}}</option>
              </select>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="botao texto" data-dismiss="modal">Cancelar</button>
          <!-- CHAMA O METODO PUBLICAR() PARA REALIZAR A INSERCAO DOS DADOS NA BASE DE DADOS -->
          <button type="button" class="botao texto" id="publicacao" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>
      </div>
  </div>
</div>
