<!--/NAVEBAR-->
<div class="container-fluid d-flex p-0 m-0">
  <video autoplay class="bg_video video" loop>
      <source src="../../assets/video/s-o-s-humanidade.mp4">
  </video>
  <div class="pelicula position-absolute">
    <div id="carouselExampleSlidesOnly" class="carousel slide" style="width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center;" data-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="d-block container carousel-texto">
                  <h3 class=" carrocel d-block w-100">
                      ACSocioambiental
                  </h3>
                  <h1 class="carrocel d-block w-100">Se importar com o planeta é o mesmo que se importar com o seu futuro</h1>
              </div>
          </div>

          <div class="carousel-item">
              <div class="d-block container">
                  <h1 class="carrocel d-block w-100"> SOS-2222222</h1>
                  <h3 class=" carrocel d-block w-100"> SOS-HUMANIDADE</h3>
                  <p class="carrocel"> jdnfsjdfdskff gsgfnsjngkdsf gfg gd dGdsgdsgg!</p>
              </div>
          </div>

          <div class="carousel-item">
              <div class="d-block container ">
                  <h1 class="carrocel d-block w-100"> SOS-333333333</h1>
                  <h3 class=" carrocel d-block w-100"> SOS-HUMANIDADE</h3>
                  <p class="carrocel"> jdnfsjdfdskff gsgfnsjngkdsf gfg gd dGdsgdsgg!</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- SECTION / CONTEUDO / SOBRE NOS -->
<section class="sobreNos">
  <div class="background-section">
    <div class="img">
        <img src="assets/img/lawn-os5th8wbnccjjtww2eqr3tk6mz9t99d0k28zn3udr4.jpeg" alt="">
    </div>
    <div class="swot">
        <div class="opcao">
            <i class="bi bi-arrows-fullscreen"></i>
            <div class="conteudo">
                <h2>Fertilization</h2>
                <p>A line about the service you've mentioned above.</p>
            </div>
        </div>
        <div class="opcao">
            <i class="bi bi-arrows-fullscreen"></i>
            <div class="conteudo">
                <h2>Fertilization</h2>
                <p>A line about the service you've mentioned above.</p>
            </div>
        </div>
        <div class="opcao">
            <i class="bi bi-arrows-fullscreen"></i>
            <div class="conteudo">
                <h2>Fertilization</h2>
                <p>A line about the service you've mentioned above.</p>
            </div>
        </div>
        <div class="opcao">
            <i class="bi bi-arrows-fullscreen"></i>
            <div class="conteudo">
                <h2>Fertilization</h2>
                <p>A line about the service you've mentioned above.</p>
            </div>
        </div>
        <div class="opcao">
            <i class="bi bi-arrows-fullscreen"></i>
            <div class="conteudo">
                <h2>Fertilization</h2>
                <p>A line about the service you've mentioned above.</p>
            </div>
        </div>
        <div class="opcao">
            <i class="bi bi-arrows-fullscreen"></i>
            <div class="conteudo">
                <h2>Fertilization</h2>
                <p>A line about the service you've mentioned above.</p>
            </div>
        </div>
    </div>
  </div>
</section>

<!-- SECTION / CONTEUDO / ATUACAO -->
<section class="atuacao">
  <div class="habilidades">
      <h2>Why Choose Us</h2>
      <p>Let us now emphasize on the main benefits that customers will get by your company.</p>
      <hr>
      <div class="itens">
          <div class="bloco">
              <i class="bi bi-arrows-fullscreen"></i>
              <h2>Fastest Work</h2>
              <p>An attractive line about the heading above.</p>
          </div>
          <div class="bloco">
              <i class="bi bi-arrows-fullscreen"></i>
              <h2>Fastest Work</h2>
              <p>An attractive line about the heading above.</p>
          </div>
          <div class="bloco">
              <i class="bi bi-arrows-fullscreen"></i>
              <h2>Fastest Work</h2>
              <p>An attractive line about the heading above.</p>
          </div>
          <div class="bloco">
              <i class="bi bi-arrows-fullscreen"></i>
              <h2>Fastest Work</h2>
              <p>An attractive line about the heading above.</p>
          </div>
      </div>
      <div class="videos">
          <div class="img">
              <img src="assets/img/video-bg-1.jpg" alt="">
          </div>
          <div class="img">
              <img src="assets/img/video-bg-2.jpg" alt="">
          </div>
      </div>
  </div>
  <div class="desenvolvedores">
      <h2>What Our Clients Say</h2>
      <p>Let real testimonials do the speaking! Pick the best and display them in this section.</p>
      <hr>
      <div class="colaboradores">
          <div class="carde">
              <img src="assets/img/perfil_kevin.jpg" alt="">
              <div class="perfil">
                  <p>If you are looking for some awesome, knowledgeable people to work with, these are the guys I highly recommend. Their friendliness and result-driven approach are what I love about them.</p>
                  <h3>Nome</h3>
                  <h4>DEV Java Full Stack</h4>
              </div>
          </div>
          <div class="carde">
              <img src="assets/img/perfil_kevin.jpg" alt="">
              <div class="perfil">
                  <p>If you are looking for some awesome, knowledgeable people to work with, these are the guys I highly recommend. Their friendliness and result-driven approach are what I love about them.</p>
                  <h3>Nome</h3>
                  <h4>DEV Java Full Stack</h4>
              </div>
          </div>
          <div class="carde">
              <img src="assets/img/perfil_kevin.jpg" alt="">
              <div class="perfil">
                  <p>If you are looking for some awesome, knowledgeable people to work with, these are the guys I highly recommend. Their friendliness and result-driven approach are what I love about them.</p>
                  <h3>Nome</h3>
                  <h4>DEV Java Full Stack</h4>
              </div>
          </div>
          <div class="carde">
              <img src="assets/img/perfil_kevin.jpg" alt="">
              <div class="perfil">
                  <p>If you are looking for some awesome, knowledgeable people to work with, these are the guys I highly recommend. Their friendliness and result-driven approach are what I love about them.</p>
                  <h3>Nome</h3>
                  <h4>DEV Java Full Stack</h4>
              </div>
          </div>
          <div class="carde">
              <img src="assets/img/perfil_kevin.jpg" alt="">
              <div class="perfil">
                  <p>If you are looking for some awesome, knowledgeable people to work with, these are the guys I highly recommend. Their friendliness and result-driven approach are what I love about them.</p>
                  <h3>Nome</h3>
                  <h4>DEV Java Full Stack</h4>
              </div>
          </div>
          <div class="carde">
              <img src="assets/img/perfil_kevin.jpg" alt="">
              <div class="perfil">
                  <p>If you are looking for some awesome, knowledgeable people to work with, these are the guys I highly recommend. Their friendliness and result-driven approach are what I love about them.</p>
                  <h3>Nome</h3>
                  <h4>DEV Java Full Stack</h4>
              </div>
          </div>
          <div class="carde">
              <img src="assets/img/perfil_kevin.jpg" alt="">
              <div class="perfil">
                  <p>If you are looking for some awesome, knowledgeable people to work with, these are the guys I highly recommend. Their friendliness and result-driven approach are what I love about them.</p>
                  <h3>Nome</h3>
                  <h4>DEV Java Full Stack</h4>
              </div>
          </div>
      </div>
  </div>
</section>
